.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0055a5;
    color: white;
    padding: 5px 10px;
    width: flex;
  }
  
  .logo {
    margin-right: auto;
    /* margin-left: 10px; */
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }  

 .manage-payout {
  font-size: 18px;
  padding: 8px 14px;
  background-color: white;
  color: #0055a5;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}