.tag-container {
    display: flex;
    /* gap: 10px; */
    margin-top: 10px;
    flex-wrap: wrap; 
  }
  
  .tag {
    background-color: #cfcfcf;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
  }
  
  .tag:hover {
    color: aliceblue;
    background-color: #6f6f6f;
  }
  