.history-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.history-tabs button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #b5b5b5;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.history-tabs button:hover,
.history-tabs button.active {
  background-color: #6a6a6a;
}