.search-page-container {
}

.search-page {
  /* display: flex; */
  flex-direction: column;
  padding-left: 15%;
  /* height: 100px; */
  /* align-items: center; */
}

.search-page .search-bar {
  padding-top: 10px;
  width: 80%;
}

.search-page .tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 80%;
}

.search-content {
  display: flex;
  align-items: flex-start;
  height: max-content;
  /* border: 1px solid #ccc; */
}

.search-content-left {
  flex: 7;
}

.search-content-right {
  flex: 3;
  align-items: flex-start;
  height: 1200px;
  /* border: 1px solid #ff0000; */
}