.search-page-container {
}

.search-page {
  /* display: flex; */
  flex-direction: column;
  padding-left: 15%;
  /* height: 100px; */
  /* align-items: center; */
}

.search-page .search-bar {
  width: 80%;
}

.search-page .tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 80%;
}

.search-content {
  display: grid;
  grid-template-columns: 7fr 3fr; /* 좌측 70%, 우측 30% */
  gap: 20px; /* 좌우 간격 */
  align-items: stretch; /* 높이 동기화 */
}

.search-content-left {
  flex: 7;
}

.search-content-right {
  flex: 3;
}