.mypage-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #f1f3f5;
  border-radius: 10px;
}

.mypage-content .logout-btn {
  color: red;
}

.mypage-container h2 {
  text-align: center;
}

.history-tabs {
  margin-bottom: 20px;
}