.bar-game-detail {
  text-align: center;
  padding: 10px;
  background: rgb(240, 240, 240);
  border-radius: 10px;
  font-size: 20px;
  border: 3px solid #ccc;
  position: sticky;
  top: 80px;
}

.bar-game-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
  /* background: rgb(240, 240, 240); */
  /* border: 3px solid #ccc; */
  padding: 50px;
  position: sticky;
  top: 80px;
}

.bar-tags {
  margin: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background-color: #d5d5d5;
  color: rgb(12, 3, 3);
  border-radius: 5px;
  transition: 0.3s;
  font-size: 15px;
}

.bar-tags:hover {
  background-color: #989898;
}

.bar-detail-button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #d5d5d5;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.bar-detail-button:hover {
  background-color: #989898;
}

.bar-game-detail-thumbnail {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: contain; /* 또는 cover */
  display: block;
}