.preview-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 960px;
  max-height: 90%;
  /* overflow: auto; */
}

.preview-close-button {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.preview-main-media-box {
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
}

.preview-main-media {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 8px;
}

.preview-sub-media-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.preview-sub-media {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.6;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.preview-sub-media.selected {
  border-color: #333;
  opacity: 1;
}