.game-detail {
    text-align: center;
    padding: 30px;
    background: lightgray;
    border-radius: 10px;
  }
  
  /* 배너 스타일 */
  .game-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 20px;
    background: lightgray;
    padding: 50px;
    position: sticky;
    top: 80px;
  }
  
  /* 태그 스타일 */
  .tags {
    margin-top: 10px;
  }
  
  /* .tag {
    margin: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
  } */
  
  .tag:hover {
    background-color: #717171;
  }
  
  /* ✅ 상세 페이지 이동 버튼 스타일 */
  .detail-button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #ececec;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .detail-button:hover {
    background-color: #717171;
    color: #ffffff;
  }
  