.search-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  /* align-items: center; */
}

.search-bar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border: none;
}

.search-bar button {
  padding: 8px;
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #bbbbbb;
}
